@import url(http://fonts.googleapis.com/css?family=Unna|Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 23px;
}

a {
  text-decoration: underline;

  &, &:hover, {
    color: @text-color;
  }

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, ul.nav {
  font-weight: normal;
  font-family: 'Unna', serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3, h4, h5, h6, ul.nav {
  font-size: 19px;
}
